.dawer-custom {
  background-color: #1d1f3c !important;
}

mat-drawer-container mat-drawer {
  background-color: #1d1f3c !important;
  width: 260px !important;
}

mat-drawer-content main {
  background-color: rgb(246, 243, 243);
  min-height: 100vh;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.sidebar-links a {
  text-decoration: none !important;
  padding: 12px;
  font-size: 18px;
  color: #eef0ed;
}

.sidebar-links a:hover {
  color: #e94736;
}

.sidebar-link-btn {
  text-decoration: none !important;
  padding: 12px;
  font-size: 18px;
  color: #eef0ed;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-link-btn:hover {
  color: #e94736;
}

.cursor-pointer {
  cursor: pointer;
}

main {
  background-color: #eaebed !important;
}
